In [61]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import datetime
import pprint
import pandas as pd
from pynytimes import NYTAPI

# Webscape nyt best seller list fiction section

In [66]:
def ny_times_lists():

    nylist = pd.DataFrame(columns=['Date', 'Title', 'Author', 'Ranking', 'Year', 'Month'])

    for year in range(2019, 2023):
        for month in range(1, 13):
            nytimes_link = f'https://www.nytimes.com/books/best-sellers/{year}/{month:02}/01/combined-print-and-e-book-fiction/'
            #nytimes_link = f'https://www.nytimes.com/books/best-sellers/2022/02/06/combined-print-and-e-book-fiction/'
            nytimes_book = requests.get(nytimes_link)
            soup = BeautifulSoup(nytimes_book.text, "html.parser")
            book_list = soup.findAll('div', {'class': 'css-xe4cfy'})

            for rank, book in enumerate(book_list):
                ranking: int = rank + 1
                book_title = book.find('h3').text.title()
                if len(book_title) >= 30:
                    space: int = book_title[:15].rfind(' ')
                    book_title = book_title[:space] + '\n' + book_title[space + 1:]
                    space = book_title[:30].rfind(' ')
                    book_title = book_title[:space] + '\n' + book_title[space + 1:]
                elif 30 > len(book_title) > 15:
                    space = book_title[:15].rfind(' ')
                    book_title = book_title[:space] + '\n' + book_title[space + 1:]
                book_author = book.find('p', {'class': 'css-hjukut'}).text[3:]
                date = datetime.date(year=year, month=month, day=1)
                book_data = pd.Series([date, book_title, book_author, ranking, year, month],
                                      index=['Date', 'Title', 'Author', 'Ranking', 'Year', 'Month'])
                nylist = nylist.append(book_data, ignore_index=True, sort=False)

    nylist.to_json('nytimes_2019-2022.json')

    return nylist


if __name__ == "__main__":
    ny_times_lists()

#https://www.linkedin.com/pulse/building-my-2020-reading-list-simple-python-script-pan-wu/

In [67]:
dframe = pd.read_json('nytimes_2019-2022.json')

In [68]:
dframe.head()

,Date,Title,Author,Ranking,Year,Month
0,2019-01-01,The Reckoning,John Grisham,1,2019,1
1,2019-01-01,Every Breath,Nicholas Sparks,2,2019,1
2,2019-01-01,Fire And Blood,George R.R. Martin,3,2019,1
3,2019-01-01,Where The\nCrawdads Sing,Delia Owens,4,2019,1
4,2019-01-01,Target: Alex\nCross,James Patterson,5,2019,1

In [69]:
dframe = dframe.replace({r'\s+$': '', r'^\s+': ''}, regex=True).replace(r'\n',  ' ', regex=True)

In [71]:
dframe.tail()

          Date                    Title          Author  Ranking  Year  Month
595 2022-04-01               November 9  Colleen Hoover       11  2022      4
596 2022-04-01        The Lightning Rod    Brad Meltzer       12  2022      4
597 2022-04-01  Where The Crawdads Sing     Delia Owens       13  2022      4
598 2022-04-01      The Love Hypothesis   Ali Hazelwood       14  2022      4
599 2022-04-01       One Italian Summer   Rebecca Serle       15  2022      4

In [72]:
dframe['List'] = 'combined-print-and-e-book-fiction'
dframe.head()

,Date,Title,Author,Ranking,Year,Month,List
0,2019-01-01,The Reckoning,John Grisham,1,2019,1,combined-print-and-e-book-fiction
1,2019-01-01,Every Breath,Nicholas Sparks,2,2019,1,combined-print-and-e-book-fiction
2,2019-01-01,Fire And Blood,George R.R. Martin,3,2019,1,combined-print-and-e-book-fiction
3,2019-01-01,Where The Crawdads Sing,Delia Owens,4,2019,1,combined-print-and-e-book-fiction
4,2019-01-01,Target: Alex Cross,James Patterson,5,2019,1,combined-print-and-e-book-fiction

In [78]:
dframe.to_csv('nyt_best_seller_books_2019_to_2022.csv')

# NYT API

In [74]:
#nyt = NYTAPI("Your API key", parse_dates=True)

In [ ]:
lists = nyt.best_sellers_lists()

# Get fiction best sellers list
books = nyt.best_sellers_list()

# Get non-fiction best sellers list
books = nyt.best_sellers_list(
    name = "combined-print-and-e-book-nonfiction"
)

# Get best sellers lists from other date
import datetime

books = nyt.best_sellers_list(
    name = "combined-print-and-e-book-nonfiction",
    date = datetime.datetime(2019, 1, 1)
)

In [76]:
nytlists = pd.DataFrame(lists)

In [79]:
#NYT list categories into CSV
nytlists.to_csv('nyt_best_seller_list.csv')

In [81]:
#NYTbest seller books

nytlist = pd.DataFrame(books)
nytlist = nytlist[['rank','title','author','']]

In [89]:
books = nyt.best_sellers_list(
    name = "combined-print-and-e-book-nonfiction",
    date = datetime.datetime(2022, 4, 1)
)

nytlist = pd.DataFrame(books)
nytlist = nytlist[['rank','rank_last_week','weeks_on_list','title','author','publisher','isbns']]
nytlist['List'] = 'combined-print-and-e-book-nonfiction'
nytlist

,rank,rank_last_week,weeks_on_list,title,author,publisher,isbns,List
0,1,1,2,ONE DAMN THING AFTER ANOTHER,William P. Barr,Morrow,"[{'isbn10': '0063158604', 'isbn13': '978006315...",combined-print-and-e-book-nonfiction
1,2,3,82,THE BODY KEEPS THE SCORE,Bessel van der Kolk,Penguin,"[{'isbn10': '0670785938', 'isbn13': '978067078...",combined-print-and-e-book-nonfiction
2,3,0,1,LESSONS FROM THE EDGE,Marie Yovanovitch,Mariner,"[{'isbn10': '0358457548', 'isbn13': '978035845...",combined-print-and-e-book-nonfiction
3,4,2,2,IN LOVE,Amy Bloom,Random House,"[{'isbn10': '0593243943', 'isbn13': '978059324...",combined-print-and-e-book-nonfiction
4,5,9,38,THE SPLENDID AND THE VILE,Erik Larson,Crown,"[{'isbn10': '0385348711', 'isbn13': '978038534...",combined-print-and-e-book-nonfiction
5,6,12,25,CRYING IN H MART,Michelle Zauner,Knopf,"[{'isbn10': '0525657746', 'isbn13': '978052565...",combined-print-and-e-book-nonfiction
6,7,10,18,THE 1619 PROJECT,"edited Nikole Hannah-Jones, Caitlin Roper, Il...",One World,"[{'isbn10': '0593230574', 'isbn13': '978059323...",combined-print-and-e-book-nonfiction
7,8,14,133,EDUCATED,Tara Westover,Random House,"[{'isbn10': '0399590501', 'isbn13': '978039959...",combined-print-and-e-book-nonfiction
8,9,0,17,WILL,Will Smith with Mark Manson,Penguin Press,"[{'isbn10': '1984877925', 'isbn13': '978198487...",combined-print-and-e-book-nonfiction
9,10,8,14,ALL ABOUT LOVE,bell hooks,Morrow,"[{'isbn10': '0060959479', 'isbn13': '978006095...",combined-print-and-e-book-nonfiction
10,11,11,2,ENDURANCE,Alfred Lansing,Basic,"[{'isbn10': '0465062881', 'isbn13': '978046506...",combined-print-and-e-book-nonfiction
11,12,0,5,THE BETRAYAL OF ANNE FRANK,Rosemary Sullivan,Harper,"[{'isbn10': '0062892355', 'isbn13': '978006289...",combined-print-and-e-book-nonfiction
12,13,0,32,BRAIDING SWEETGRASS,Robin Wall Kimmerer,Milkweed Editions,"[{'isbn10': '1571313567', 'isbn13': '978157131...",combined-print-and-e-book-nonfiction
13,14,7,8,RED-HANDED,Peter Schweizer,Harper,"[{'isbn10': '0063061147', 'isbn13': '978006306...",combined-print-and-e-book-nonfiction
14,15,0,1,THE GATES OF EUROPE,Serhii Plokhy,Basic,"[{'isbn10': '1541675649', 'isbn13': '978154167...",combined-print-and-e-book-nonfiction

In [92]:
nytlists['list_name'].unique()

array(['Combined Print and E-Book Fiction',
       'Combined Print and E-Book Nonfiction', 'Hardcover Fiction',
       'Hardcover Nonfiction', 'Trade Fiction Paperback',
       'Mass Market Paperback', 'Paperback Nonfiction', 'E-Book Fiction',
       'E-Book Nonfiction', 'Hardcover Advice', 'Paperback Advice',
       'Advice How-To and Miscellaneous', 'Hardcover Graphic Books',
       'Paperback Graphic Books', 'Manga', 'Combined Print Fiction',
       'Combined Print Nonfiction', 'Chapter Books',
       'Childrens Middle Grade', 'Childrens Middle Grade E-Book',
       'Childrens Middle Grade Hardcover',
       'Childrens Middle Grade Paperback', 'Paperback Books',
       'Picture Books', 'Series Books', 'Young Adult',
       'Young Adult E-Book', 'Young Adult Hardcover',
       'Young Adult Paperback', 'Animals', 'Audio Fiction',
       'Audio Nonfiction', 'Business Books', 'Celebrities',
       'Crime and Punishment', 'Culture', 'Education', 'Espionage',
       'Expeditions Disasters and Adventures',
       'Fashion Manners and Customs', 'Food and Fitness',
       'Games and Activities', 'Graphic Books and Manga',
       'Hardcover Business Books', 'Health', 'Humor',
       'Indigenous Americans', 'Relationships', 'Mass Market Monthly',
       'Middle Grade Paperback Monthly', 'Paperback Business Books',
       'Family', 'Hardcover Political Books', 'Race and Civil Rights',
       'Religion Spirituality and Faith', 'Science', 'Sports', 'Travel',
       'Young Adult Paperback Monthly'], dtype=object)

In [93]:
nyt.close()