In [3]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import datetime
import pprint
import pandas as pd

In [4]:
def ny_times_lists():

    nylist = pd.DataFrame(columns=['Date', 'Title', 'Author', 'Ranking', 'Year', 'Month'])

    for year in range(2012, 2023):
        for month in range(1, 13):
            nytimes_link = f'https://www.nytimes.com/books/best-sellers/2022/02/06/combined-print-and-e-book-fiction/'
            nytimes_book = requests.get(nytimes_link)
            soup = BeautifulSoup(nytimes_book.text, "html.parser")
            book_list = soup.findAll('div', {'class': 'css-xe4cfy'})

            for rank, book in enumerate(book_list):
                ranking: int = rank + 1
                book_title = book.find('h3').text.title()
                if len(book_title) >= 30:
                    space: int = book_title[:15].rfind(' ')
                    book_title = book_title[:space] + '\n' + book_title[space + 1:]
                    space = book_title[:30].rfind(' ')
                    book_title = book_title[:space] + '\n' + book_title[space + 1:]
                elif 30 > len(book_title) > 15:
                    space = book_title[:15].rfind(' ')
                    book_title = book_title[:space] + '\n' + book_title[space + 1:]
                book_author = book.find('p', {'class': 'css-hjukut'}).text[3:]
                date = datetime.date(year=year, month=month, day=1)
                book_data = pd.Series([date, book_title, book_author, ranking, year, month],
                                      index=['Date', 'Title', 'Author', 'Ranking', 'Year', 'Month'])
                nylist = nylist.append(book_data, ignore_index=True, sort=False)

    nylist.to_json('nytimes_2012-2022.json')

    return nylist


if __name__ == "__main__":
    ny_times_lists()

#https://www.linkedin.com/pulse/building-my-2020-reading-list-simple-python-script-pan-wu/

In [15]:
dframe = pd.read_json('nytimes_2012-2022.json')

In [16]:
dframe.head()

,Date,Title,Author,Ranking,Year,Month
0,2012-01-01,It Ends With Us,Colleen Hoover,1,2012,1
1,2012-01-01,The Seven\nHusbands Of Evelyn\nHugo,Taylor Jenkins Reid,2,2012,1
2,2012-01-01,Verity,Colleen Hoover,3,2012,1
3,2012-01-01,One Step Too\nFar,Lisa Gardner,4,2012,1
4,2012-01-01,Ugly Love,Colleen Hoover,5,2012,1

In [19]:
dframe = dframe.replace({r'\s+$': '', r'^\s+': ''}, regex=True).replace(r'\n',  ' ', regex=True)

In [21]:
dframe.head()

,Date,Title,Author,Ranking,Year,Month
0,2012-01-01,It Ends With Us,Colleen Hoover,1,2012,1
1,2012-01-01,The Seven Husbands Of Evelyn Hugo,Taylor Jenkins Reid,2,2012,1
2,2012-01-01,Verity,Colleen Hoover,3,2012,1
3,2012-01-01,One Step Too Far,Lisa Gardner,4,2012,1
4,2012-01-01,Ugly Love,Colleen Hoover,5,2012,1

In [27]:
dframe['List'] = 'combined-print-and-e-book-fiction'
dframe.head()

,Date,Title,Author,Ranking,Year,Month,List
0,2012-01-01,It Ends With Us,Colleen Hoover,1,2012,1,combined-print-and-e-book-fiction
1,2012-01-01,The Seven Husbands Of Evelyn Hugo,Taylor Jenkins Reid,2,2012,1,combined-print-and-e-book-fiction
2,2012-01-01,Verity,Colleen Hoover,3,2012,1,combined-print-and-e-book-fiction
3,2012-01-01,One Step Too Far,Lisa Gardner,4,2012,1,combined-print-and-e-book-fiction
4,2012-01-01,Ugly Love,Colleen Hoover,5,2012,1,combined-print-and-e-book-fiction